<!DOCTYPE html>
<html lang="en">
  <head>
    <META charset="utf-8">
	<TITLE>AirBnB clone</TITLE>
	<LINK rel="stylesheet" href="../static/styles/reset.css">
	<LINK rel="stylesheet" href="../static/styles/4-common.css">
	<LINK rel="stylesheet" href="../static/styles/3-header.css">
	<LINK rel="stylesheet" href="../static/styles/3-footer.css">
	<LINK rel="stylesheet" href="../static/styles/6-filters.css">
	<LINK rel="icon" href="../static/images/icon.png">
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
            {% for state in states|sort(attribute="name") %}
	        <li>
                <h2>{{ state.name }}</h2>
                <ul>
                    {% for city in cities|sort(attribute="name") %}
                    {% if state.id == city.state_id %}
                    <li>{{ city.name }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
	    </ul>
	  </div>
	</div>
	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4> &nbsp;</h4> 
	  <div class="popover"> 
	    <ul>
          {% for amenity in amenities|sort(attribute="name") %}
          <li>{{ amenity.name }}</li>
          {% endfor %}
	    </ul>
	  </div>
	</div>
	  <button type="button">Search</button>
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>